html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #FEFFF8;
}

@media (max-width: 580px) {
  #chat-messages {
    height: 240px;
  }

  .chat-input {
    width: 95% !important;
  }
}